.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 95vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container-new-activity{
  width: 60vw;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  padding: 4em;
  margin: auto;
  margin-top: 6em;
  margin-bottom: 6em;
}

.mt-4em{
  margin-top: 3em;
}

.container h1{
  font-size: 3em;
}
